   
  <!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center breadcrumb-content">

        <h1 class="text-white display-4 mb-3 wow fadeInDown"
            data-wow-delay="0.1s">
            About Us
        </h1>

        <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown"
            data-wow-delay="0.3s">

            <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
            </li>

            <li class="breadcrumb-item active" aria-current="page">
                About Us
            </li>

        </ol>

    </div>
</div>
<!-- Header End -->
   
   <!-- About Start -->
        <div class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="about-item-image d-flex">
                            
                            <img src="img/new/about-1.png" class="img-1 img-fluid w-100"  alt="">
                            <!-- <div class="about-item-image-content">
                                <img src="img/about-1.png" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                            </div> -->
                        </div>
                    </div>
                    <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.1s">
                        <div class="about-item-content">
                            <p class="text-uppercase text-secondary fs-5 mb-0">WELCOME TO PGP CONSTRUCTIONS</p>
                           
                            <p class="mb-4 fs-5">I am G. Augustine, Proprietor of PGP Construction. We provide quality residential and commercial construction services across Tamil Nadu, combining modern design, reliable workmanship, affordable pricing, and complete transparency to build your dream space with confidence.  </p>
                            <div class="pb-4 mb-4 border-bottom">
                                <div class="row g-4">
                                    <div class="col-lg-4">
                                        <div class="about-item-content-img">
                                            <img src="img/new/owner.png" class="img-fluid w-100" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="d-flex mb-4">
                                            <div class="text-secondary">
                                                <i class="fas fa-user-shield fa-3x"></i>
                                            </div>
                                            <h4 class="ms-3">Building quality standards</h4>
                                        </div>
                                        <div class="d-flex">
                                            <div class="text-secondary">
                                                <i class="fas fa-users-cog fa-3x"></i>
                                            </div>
                                            <h4 class="ms-3">Certified engineer’s team</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row gy-0 gx-4 justify-content-between pb-4">
                                <div class="col-lg-6">
                                    <p class="text-dark"><i class="fas fa-check text-secondary me-1"></i> 100% Satisfaction</p>
                                    <p class="text-dark"><i class="fas fa-check text-secondary me-1"></i> Trained Emploies</p>
                                </div>
                                <div class="col-lg-6">
                                    <p class="text-dark"><i class="fas fa-check text-secondary me-1"></i> On-Time Delivery</p>
                                    <p class="text-dark mb-0"><i class="fas fa-check text-secondary me-1"></i> Flexible and cost effective</p>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

    <!-- Team Slider -->
<div class="team-slider">

    <!-- Heading -->
<div class="team-heading">

    <div class="team-subtitle">
        <span class="line"></span>
        <span>OUR TEAM</span>
        <span class="line"></span>
    </div>

    <h2>
        Skilled People Behind
        <span>Our Success</span>
    </h2>

    <p>
        Our experienced and dedicated team works together to deliver
        high-quality construction with safety, precision and commitment.
    </p>

   

</div>

    <div class="team-track">

        <!-- Mason -->
        <div class="team-member">
            <div class="member-image">
                <img src="img/new/emp-1.png" alt="Mason">
            </div>

            <div class="member-name">
                <i class="fas fa-th-large"></i>
                <span>Mason</span>
            </div>
        </div>


        <!-- Carpenter -->
        <div class="team-member">
            <div class="member-image">
                <img src="img/new/emp-2.png" alt="Carpenter">
            </div>

            <div class="member-name">
                <i class="fas fa-hammer"></i>
                <span>Carpenter</span>
            </div>
        </div>


        <!-- Electrician -->
        <div class="team-member">
            <div class="member-image">
                <img src="img/new/emp-3.png" alt="Electrician">
            </div>

            <div class="member-name">
                <i class="fas fa-bolt"></i>
                <span>Electrician</span>
            </div>
        </div>


        <!-- Plumber -->
        <div class="team-member">
            <div class="member-image">
                <img src="img/new/emp-4.png" alt="Plumber">
            </div>

            <div class="member-name">
                <i class="fas fa-wrench"></i>
                <span>Plumber</span>
            </div>
        </div>


        <!-- Painter -->
        <div class="team-member">
            <div class="member-image">
                <img src="img/new/emp-5.png" alt="Painter">
            </div>

            <div class="member-name">
                <i class="fas fa-paint-roller"></i>
                <span>Painter</span>
            </div>
        </div>


        <!-- Site Worker -->
        <div class="team-member">
            <div class="member-image">
                <img src="img/new/emp-6.png" alt="Site Worker">
            </div>

            <div class="member-name">
                <i class="fas fa-users"></i>
                <span>Site Worker</span>
            </div>
        </div>

    </div>

</div>