<!-- Spinner Start -->
<div id="spinner"
    class="bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    [class.show]="isLoading">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<!-- Topbar Start -->
<div class="container-fluid topbar d-none d-xl-block w-100">
    <div class="row gx-0 align-items-center" style="height: 45px;">
        <div class="col-lg-6 text-center text-lg-start mb-lg-0">
            <div class="d-flex flex-wrap">
                <a  class="text-muted me-4"><i class="fas fa-map-marker-alt text-secondary me-2"></i>Peikulam,
                    Thoothukkudi</a>
                <a  class="text-muted me-4"><i class="fas fa-phone-alt text-secondary me-2"></i>9629441853</a>
                <a  class="text-muted me-0"><i class="fas fa-envelope text-secondary me-2"></i>pgpccs@gmail.com
                </a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-end">
            <div class="d-flex align-items-center justify-content-end">
                <a  class="text-muted me-3"><i class="fas fa-clock text-secondary me-2"></i>Mon - Sat 8:00 -
                    21:30, Sunday - CLOSED</a>
                <a  class="btn btn-primary btn-square border border-white me-3"><i
                        class="fab fa-facebook-f"></i></a>
                <a  class="btn btn-primary btn-square border border-white me-3"><i
                        class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar & Hero Start -->
<div class="container-fluid sticky-top px-0" [class.shadow-sm]="isSticky" [style.top]="isSticky ? '0px' : '-200px'">

    <nav class="navbar navbar-expand-lg navbar-dark bg-light py-3 px-4">
       <a routerLink="/" class="navbar-brand p-0">
    <h1 class="text-secondary display-6">
        <img
            src="img/logo.jpg"
            class="header-logo"
            alt="PGP Constructions Logo">

        PGP Constructions
    </h1>
</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
       <div class="collapse navbar-collapse" id="navbarCollapse">

    <div class="navbar-nav ms-auto pt-2 pt-lg-0">

        <a routerLink="/"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"
           class="nav-item nav-link"
           data-bs-toggle="collapse"
           data-bs-target="#navbarCollapse">
            Home
        </a>

        <a routerLink="/about"
           routerLinkActive="active"
           class="nav-item nav-link"
           data-bs-toggle="collapse"
           data-bs-target="#navbarCollapse">
            About Us
        </a>

        <a routerLink="/service"
           routerLinkActive="active"
           class="nav-item nav-link"
           data-bs-toggle="collapse"
           data-bs-target="#navbarCollapse">
            Service
        </a>

        <a routerLink="/project"
           routerLinkActive="active"
           class="nav-item nav-link"
           data-bs-toggle="collapse"
           data-bs-target="#navbarCollapse">
            Our Projects
        </a>

        <a routerLink="/package"
           routerLinkActive="active"
           class="nav-item nav-link"
           data-bs-toggle="collapse"
           data-bs-target="#navbarCollapse">
            Our Packages
        </a>

        <a routerLink="/contact"
           routerLinkActive="active"
           class="nav-item nav-link"
           data-bs-toggle="collapse"
           data-bs-target="#navbarCollapse">
            Contact
        </a>

    </div>

    <div class="d-flex align-items-center flex-nowrap pt-3 pt-lg-0 ms-lg-2">
        <a routerLink="/contact"
           class="btn btn-secondary py-2 px-4 flex-wrap flex-sm-shrink-0"
           data-bs-toggle="collapse"
           data-bs-target="#navbarCollapse">
            Get a Quote
        </a>
    </div>

</div>
    </nav>
</div>
<!-- Navbar & Hero End -->