@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --bs-primary: #001248;
  --bs-primary-rgb: 0, 18, 72;
  --bs-secondary: #f5a623;
  --bs-secondary-rgb: 245, 166, 35;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
